<div class="row pt-4">
  <div class="col-sm-12">
    <!--START - Recent Ticket Comments-->
    <div class="element-wrapper">
      <h6 class="element-header text-center">Liste des Administrateurs</h6>

      <div class="col-sm-5">
        <a  data-toggle="modal" data-target="#myModal2" >
          <div class="containerbutton">
            <div class="button52" id="button-5">
              <div id="translate"></div>
              <a id="Publiera">Ajouter</a>
            </div>
          </div>
        </a>
      </div>
      <br> <br>
      <div class="col-sm-12">
        <form id="SearchForm">
          <input id="myInput" onkeyup="SearchName()" type="search">
          <i class="os-icon os-icon-search"></i>
        </form>
      </div>


      <div class="element-box-tp">
        <div class="table-responsive">
          <table class="table table-padded">
            <thead>
            <tr>
              <th></th>
              <th>Utilisateur</th>
              <th>Date Naissance</th>
              <th>Sexe</th>
              <th>Pays</th>
              <th class="text-center">Telephone</th>
              <th>E-Mail</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr *ngFor="let i of ShowAdminsVar">
              <td class="text-center">
                <label  class="si si-checkbox">
                  <input type="checkbox" id="defaultCheckbox" />
                  <span class="si-label"></span>
                </label>
              </td>
              <td>
                <div class="user-with-avatar"><img src="assets/img/adminlogo.png" ><span>{{i.firstName}} {{i.lastName}}</span></div>
              </td>
              <td>
                <div class="smaller lighter">{{i.Date_Nais|date:'dd/MM/yyyy'}}</div>
              </td>
              <td>
                <div class="smaller lighter">{{i.Sexe}}</div>
              </td>
              <td>
                <div class="smaller lighter">{{i.Pays}}</div>
              </td>
              <td><span class="smaller lighter">{{i.Tel}}</span></td>
              <td class="text-center"><a class="badge badge-success-inverted" >{{i.Mail}}</a></td>
              <td class="row-actions">
                <a class="danger" (click)="DeleteAdminAccountFn(i._id)"><i class="os-icon os-icon-ui-15"></i></a>
                <a class="info" data-toggle="modal" data-target="#myModal" (click)="GetAdminID(i._id);ShowAdminCordsFn(i._id)" ><i class="os-icon os-icon-edit-1"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--Pagination-->
      <div class="controls-below-table">
        <div class="table-records-pages">
          <ul>
            <li><a href="#">Previous</a></li>
            <li><a class="current" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-5" style="position: relative; padding-left : 450px;">
        <a class="btn btn-sm btn-danger" ><b style="color: white;">Effacer les comptes séléctionnés</b> </a>
      </div>

    </div>
    <!--END - Recent Ticket Comments-->
  </div>
</div>

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="content-i">
            <div class="content-box text-center">
              <div class="element-wrapper">
                <div class="element-box">
                  <form id="formValidate" [formGroup]="ModifyAdminForm">
                    <div class="element-info">
                      <div class="element-info-with-icon">
                        <div class="element-info-icon">
                          <div class="os-icon os-icon-wallet-loaded"></div>
                        </div>
                        <div class="element-info-text">
                          <h5 class="element-inner-header">Mise à jour profil Admin</h5>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">

                      <fieldset class="form-group">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <input class="form-control" formControlName="firstName" data-error="Please input your First Name" [value]="ShowAdminCordsVar.firstName" required="required" type="text">
                              <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <input class="form-control" formControlName="lastName" data-error="Please input your Last Name" [value]="ShowAdminCordsVar.lastName" required="required" type="text">
                              <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <input class="single-daterange form-control" formControlName="Date_Nais" [value]="ShowAdminCordsVar.Date_Nais|date:'dd/MM/yyyy'" type="text" >
                            </div>
                          </div>


                          <div class="col-sm-6">
                            <div class="form-group">
                              <input class="form-control" formControlName="CIN" [value]="ShowAdminCordsVar.CIN" required="required" type="text">
                              <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                          </div>
                        </div>
                      </fieldset>

                      <input class="form-control" formControlName="Mail" data-error="Your email address is invalid" [value]="ShowAdminCordsVar.Mail" required="required" type="email">
                      <div class="help-block form-text with-errors form-control-feedback"></div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input class="form-control" formControlName="password" data-minlength="6" placeholder="Mot de passe" required="required" type="password">
                          <div class="help-block form-text text-muted form-control-feedback">Minimum 6 caractères</div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input class="form-control" formControlName="confirmPassword" data-match-error="Passwords don&#39;t match" placeholder="Confirmer Mot de passe" required="required" type="password">
                          <div class="help-block form-text with-errors form-control-feedback"></div>
                        </div>
                      </div>
                    </div>
                    <div class="form-buttons-w">
                      <button type="reset" data-dismiss="modal" data-target="#myModal" class="btn btn-danger">Annuler</button>
                      <button class="btn btn-primary" (click)="GetAdminID(ShowAdminCordsVar._id);ModifyAdmin(ShowAdminCordsVar._id)" type="submit"> Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="content-i">
            <div class="content-box text-center">
              <div class="element-wrapper">
                <div class="element-box">
                  <form id="formValidate2" [formGroup]="adminForm" >
                    <div class="element-info">
                      <div class="element-info-with-icon">
                        <div class="element-info-icon">
                          <div class="os-icon os-icon-wallet-loaded"></div>
                        </div>
                        <div class="element-info-text">
                          <h5 class="element-inner-header">Ajouter un nouveau Administrateur</h5>
                        </div>
                      </div>
                    </div>

                    <fieldset class="form-group">

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Prénom</label>
                            <input class="form-control" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback"><div *ngIf="f.firstName.errors.required">Prénom est obligatoire</div></div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Nom</label>
                            <input class="form-control" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback"><div *ngIf="f.lastName.errors.required">Nom est obligatoire</div></div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="">Date</label>
                            <input class="form-control" formControlName="Date_Nais" type="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Date_Nais.errors }" />
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                            <div *ngIf="submitted && f.Date_Nais.errors" class="invalid-feedback"><div *ngIf="f.Date_Nais.errors.required">Date de naissance est obligatoire</div></div>
                          </div>
                        </div>

                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for=""> CIN</label>
                            <input class="form-control" formControlName="CIN" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CIN.errors }" />
                            <div class="help-block form-text with-errors form-control-feedback"></div>
                            <div *ngIf="submitted && f.CIN.errors" class="invalid-feedback"><div *ngIf="f.CIN.errors.required">CIN est obligatoire</div></div>
                          </div>
                        </div>
                      </div>

                    </fieldset>

                    <div class="form-group">

                      <div class="col-sm-6">
                        <label class="container">Male
                          <input type="radio" value="male" name="Sexe" formControlName="Sexe">
                          <span class="checkmark"></span>
                        </label>

                        <label class="container">Female
                          <input id="female" type="radio" value="female" name="Sexe" formControlName="Sexe">
                          <span class="checkmark"></span>
                        </label>
                      </div>


                      <!-- Showing error method -->

                      <div *ngIf="submitted && f.Sexe.errors?.required">
                        <p style="color:indianred;padding-left: 170px;">Veuillez choisir le sexe!</p>
                      </div>
                    </div>


                    <div class="form-group ">
                      <label >Pays : </label>
                      <select name="pays"  class="form-control text-center" formControlName="Pays">
                        <option value="" selected="selected">Veuillez Choisir Votre Pays </option>
                        <option value="Afghanistan">Afghanistan </option>
                        <option value="Afrique_Centrale">Afrique_Centrale </option>
                        <option value="Afrique_du_sud">Afrique_du_Sud </option>
                        <option value="Albanie">Albanie </option>
                        <option value="Algerie">Algerie </option>
                        <option value="Allemagne">Allemagne </option>
                        <option value="Andorre">Andorre </option>
                        <option value="Angola">Angola </option>
                        <option value="Anguilla">Anguilla </option>
                        <option value="Arabie_Saoudite">Arabie_Saoudite </option>
                        <option value="Argentine">Argentine </option>
                        <option value="Armenie">Armenie </option>
                        <option value="Australie">Australie </option>
                        <option value="Autriche">Autriche </option>
                        <option value="Azerbaidjan">Azerbaidjan </option>

                        <option value="Bahamas">Bahamas </option>
                        <option value="Bangladesh">Bangladesh </option>
                        <option value="Barbade">Barbade </option>
                        <option value="Bahrein">Bahrein </option>
                        <option value="Belgique">Belgique </option>
                        <option value="Belize">Belize </option>
                        <option value="Benin">Benin </option>
                        <option value="Bermudes">Bermudes </option>
                        <option value="Bielorussie">Bielorussie </option>
                        <option value="Bolivie">Bolivie </option>
                        <option value="Botswana">Botswana </option>
                        <option value="Bhoutan">Bhoutan </option>
                        <option value="Boznie_Herzegovine">Boznie_Herzegovine </option>
                        <option value="Bresil">Bresil </option>
                        <option value="Brunei">Brunei </option>
                        <option value="Bulgarie">Bulgarie </option>
                        <option value="Burkina_Faso">Burkina_Faso </option>
                        <option value="Burundi">Burundi </option>

                        <option value="Caiman">Caiman </option>
                        <option value="Cambodge">Cambodge </option>
                        <option value="Cameroun">Cameroun </option>
                        <option value="Canada">Canada </option>
                        <option value="Canaries">Canaries </option>
                        <option value="Cap_vert">Cap_Vert </option>
                        <option value="Chili">Chili </option>
                        <option value="Chine">Chine </option>
                        <option value="Chypre">Chypre </option>
                        <option value="Colombie">Colombie </option>
                        <option value="Comores">Colombie </option>
                        <option value="Congo">Congo </option>
                        <option value="Congo_democratique">Congo_democratique </option>
                        <option value="Cook">Cook </option>
                        <option value="Coree_du_Nord">Coree_du_Nord </option>
                        <option value="Coree_du_Sud">Coree_du_Sud </option>
                        <option value="Costa_Rica">Costa_Rica </option>
                        <option value="Cote_d_Ivoire">Côte_d_Ivoire </option>
                        <option value="Croatie">Croatie </option>
                        <option value="Cuba">Cuba </option>

                        <option value="Danemark">Danemark </option>
                        <option value="Djibouti">Djibouti </option>
                        <option value="Dominique">Dominique </option>

                        <option value="Egypte">Egypte </option>
                        <option value="Emirats_Arabes_Unis">Emirats_Arabes_Unis </option>
                        <option value="Equateur">Equateur </option>
                        <option value="Erythree">Erythree </option>
                        <option value="Espagne">Espagne </option>
                        <option value="Estonie">Estonie </option>
                        <option value="Etats_Unis">Etats_Unis </option>
                        <option value="Ethiopie">Ethiopie </option>

                        <option value="Falkland">Falkland </option>
                        <option value="Feroe">Feroe </option>
                        <option value="Fidji">Fidji </option>
                        <option value="Finlande">Finlande </option>
                        <option value="France">France </option>

                        <option value="Gabon">Gabon </option>
                        <option value="Gambie">Gambie </option>
                        <option value="Georgie">Georgie </option>
                        <option value="Ghana">Ghana </option>
                        <option value="Gibraltar">Gibraltar </option>
                        <option value="Grece">Grece </option>
                        <option value="Grenade">Grenade </option>
                        <option value="Groenland">Groenland </option>
                        <option value="Guadeloupe">Guadeloupe </option>
                        <option value="Guam">Guam </option>
                        <option value="Guatemala">Guatemala</option>
                        <option value="Guernesey">Guernesey </option>
                        <option value="Guinee">Guinee </option>
                        <option value="Guinee_Bissau">Guinee_Bissau </option>
                        <option value="Guinee equatoriale">Guinee_Equatoriale </option>
                        <option value="Guyana">Guyana </option>
                        <option value="Guyane_Francaise ">Guyane_Francaise </option>

                        <option value="Haiti">Haiti </option>
                        <option value="Hawaii">Hawaii </option>
                        <option value="Honduras">Honduras </option>
                        <option value="Hong_Kong">Hong_Kong </option>
                        <option value="Hongrie">Hongrie </option>

                        <option value="Inde">Inde </option>
                        <option value="Indonesie">Indonesie </option>
                        <option value="Iran">Iran </option>
                        <option value="Iraq">Iraq </option>
                        <option value="Irlande">Irlande </option>
                        <option value="Islande">Islande </option>
                        <option value="Israel">Israel </option>
                        <option value="Italie">italie </option>

                        <option value="Jamaique">Jamaique </option>
                        <option value="Jan Mayen">Jan Mayen </option>
                        <option value="Japon">Japon </option>
                        <option value="Jersey">Jersey </option>
                        <option value="Jordanie">Jordanie </option>

                        <option value="Kazakhstan">Kazakhstan </option>
                        <option value="Kenya">Kenya </option>
                        <option value="Kirghizstan">Kirghizistan </option>
                        <option value="Kiribati">Kiribati </option>
                        <option value="Koweit">Koweit </option>

                        <option value="Laos">Laos </option>
                        <option value="Lesotho">Lesotho </option>
                        <option value="Lettonie">Lettonie </option>
                        <option value="Liban">Liban </option>
                        <option value="Liberia">Liberia </option>
                        <option value="Liechtenstein">Liechtenstein </option>
                        <option value="Lituanie">Lituanie </option>
                        <option value="Luxembourg">Luxembourg </option>
                        <option value="Lybie">Lybie </option>

                        <option value="Macao">Macao </option>
                        <option value="Macedoine">Macedoine </option>
                        <option value="Madagascar">Madagascar </option>
                        <option value="Madère">Madère </option>
                        <option value="Malaisie">Malaisie </option>
                        <option value="Malawi">Malawi </option>
                        <option value="Maldives">Maldives </option>
                        <option value="Mali">Mali </option>
                        <option value="Malte">Malte </option>
                        <option value="Man">Man </option>
                        <option value="Mariannes du Nord">Mariannes du Nord </option>
                        <option value="Maroc">Maroc </option>
                        <option value="Marshall">Marshall </option>
                        <option value="Martinique">Martinique </option>
                        <option value="Maurice">Maurice </option>
                        <option value="Mauritanie">Mauritanie </option>
                        <option value="Mayotte">Mayotte </option>
                        <option value="Mexique">Mexique </option>
                        <option value="Micronesie">Micronesie </option>
                        <option value="Midway">Midway </option>
                        <option value="Moldavie">Moldavie </option>
                        <option value="Monaco">Monaco </option>
                        <option value="Mongolie">Mongolie </option>
                        <option value="Montserrat">Montserrat </option>
                        <option value="Mozambique">Mozambique </option>

                        <option value="Namibie">Namibie </option>
                        <option value="Nauru">Nauru </option>
                        <option value="Nepal">Nepal </option>
                        <option value="Nicaragua">Nicaragua </option>
                        <option value="Niger">Niger </option>
                        <option value="Nigeria">Nigeria </option>
                        <option value="Niue">Niue </option>
                        <option value="Norfolk">Norfolk </option>
                        <option value="Norvege">Norvege </option>
                        <option value="Nouvelle_Caledonie">Nouvelle_Caledonie </option>
                        <option value="Nouvelle_Zelande">Nouvelle_Zelande </option>

                        <option value="Oman">Oman </option>
                        <option value="Ouganda">Ouganda </option>
                        <option value="Ouzbekistan">Ouzbekistan </option>

                        <option value="Pakistan">Pakistan </option>
                        <option value="Palau">Palau </option>
                        <option value="Palestine">Palestine </option>
                        <option value="Panama">Panama </option>
                        <option value="Papouasie_Nouvelle_Guinee">Papouasie_Nouvelle_Guinee </option>
                        <option value="Paraguay">Paraguay </option>
                        <option value="Pays_Bas">Pays_Bas </option>
                        <option value="Perou">Perou </option>
                        <option value="Philippines">Philippines </option>
                        <option value="Pologne">Pologne </option>
                        <option value="Polynesie">Polynesie </option>
                        <option value="Porto_Rico">Porto_Rico </option>
                        <option value="Portugal">Portugal </option>

                        <option value="Qatar">Qatar </option>

                        <option value="Republique_Dominicaine">Republique_Dominicaine </option>
                        <option value="Republique_Tcheque">Republique_Tcheque </option>
                        <option value="Reunion">Reunion </option>
                        <option value="Roumanie">Roumanie </option>
                        <option value="Royaume_Uni">Royaume_Uni </option>
                        <option value="Russie">Russie </option>
                        <option value="Rwanda">Rwanda </option>

                        <option value="Sahara Occidental">Sahara Occidental </option>
                        <option value="Sainte_Lucie">Sainte_Lucie </option>
                        <option value="Saint_Marin">Saint_Marin </option>
                        <option value="Salomon">Salomon </option>
                        <option value="Salvador">Salvador </option>
                        <option value="Samoa_Occidentales">Samoa_Occidentales</option>
                        <option value="Samoa_Americaine">Samoa_Americaine </option>
                        <option value="Sao_Tome_et_Principe">Sao_Tome_et_Principe </option>
                        <option value="Senegal">Senegal </option>
                        <option value="Seychelles">Seychelles </option>
                        <option value="Sierra Leone">Sierra Leone </option>
                        <option value="Singapour">Singapour </option>
                        <option value="Slovaquie">Slovaquie </option>
                        <option value="Slovenie">Slovenie</option>
                        <option value="Somalie">Somalie </option>
                        <option value="Soudan">Soudan </option>
                        <option value="Sri_Lanka">Sri_Lanka </option>
                        <option value="Suede">Suede </option>
                        <option value="Suisse">Suisse </option>
                        <option value="Surinam">Surinam </option>
                        <option value="Swaziland">Swaziland </option>
                        <option value="Syrie">Syrie </option>

                        <option value="Tadjikistan">Tadjikistan </option>
                        <option value="Taiwan">Taiwan </option>
                        <option value="Tonga">Tonga </option>
                        <option value="Tanzanie">Tanzanie </option>
                        <option value="Tchad">Tchad </option>
                        <option value="Thailande">Thailande </option>
                        <option value="Tibet">Tibet </option>
                        <option value="Timor_Oriental">Timor_Oriental </option>
                        <option value="Togo">Togo </option>
                        <option value="Trinite_et_Tobago">Trinite_et_Tobago </option>
                        <option value="Tristan da cunha">Tristan de cuncha </option>
                        <option value="Turkmenistan">Turmenistan </option>
                        <option value="Turquie">Turquie </option>

                        <option value="Ukraine">Ukraine </option>
                        <option value="Uruguay">Uruguay </option>

                        <option value="Vanuatu">Vanuatu </option>
                        <option value="Vatican">Vatican </option>
                        <option value="Venezuela">Venezuela </option>
                        <option value="Vierges_Americaines">Vierges_Americaines </option>
                        <option value="Vierges_Britanniques">Vierges_Britanniques </option>
                        <option value="Vietnam">Vietnam </option>

                        <option value="Wake">Wake </option>
                        <option value="Wallis et Futuma">Wallis et Futuma </option>

                        <option value="Yemen">Yemen </option>
                        <option value="Yougoslavie">Yougoslavie </option>

                        <option value="Zambie">Zambie </option>
                        <option value="Zimbabwe">Zimbabwe </option>

                      </select>

                      <div *ngIf="submitted && f.Pays.errors?.required">
                        <p style="color:indianred">Aucune Pays Séléctionnée</p>
                      </div>
                    </div>


                    <div class="form-group">
                      <label for=""> Telephone</label>
                      <input class="form-control" formControlName="Tel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Tel.errors }" />
                      <div class="help-block form-text with-errors form-control-feedback"></div>
                      <div *ngIf="submitted && f.Tel.errors" class="invalid-feedback"><div *ngIf="f.Tel.errors.required">Téléphone est obligatoire</div></div>
                    </div>


                    <div class="form-group">
                      <label for=""> Email address</label>
                      <input class="form-control" formControlName="Mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Mail.errors }" />
                      <div class="help-block form-text with-errors form-control-feedback"></div>
                      <div *ngIf="submitted && f.Mail.errors" class="invalid-feedback"><div *ngIf="f.Mail.errors.required">E-Mail est obligatoire</div></div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for=""> Password</label>
                          <input class="form-control" formControlName="password" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                          <div class="help-block form-text with-errors form-control-feedback"></div>
                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback"><div *ngIf="f.password.errors.required">Mot de passe est obligatoire</div></div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Confirm Password</label>
                          <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirmation du mot de passe est obligatoire</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Les mots de passes ne sont pas identiques!</div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="form-buttons-w">
                      <button type="reset" class="btn btn-danger">Annuler</button>
                      <button class="btn btn-primary" type="submit" (click)="addAdmin()">Ajouter</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
