#ProfForm{
  margin-bottom: 218px;
}

#UserForm{
  margin-bottom: 141px;
}


.message {
  border-radius: 50px;
  margin: 0 15px 10px;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
}
.message.to {
  background-color: #2095FE;
  color: #fff;
  margin-left: 100px;
  text-align: right;
}
.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 100px;

}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -10px;
}



.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
  bottom: -1%;
  background-color: white;
}


.messaging {
  background-color: white;
  height: 85%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 1%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.msg_history {
  height: 100%;
  overflow-y: auto;
}

.msg_send_btn {
  background: #00ff0d none repeat scroll 0 0;
  border:none;
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
  font-size: 15px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}



::-webkit-scrollbar-track
{
  background: #f7ffd4;

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6286', endColorstr='#e1093b',GradientType=1 );

}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #000;
}

::-webkit-scrollbar-thumb
{
  background: #aebcbf;
  background: -moz-linear-gradient(-45deg,  #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809));
  background: -webkit-linear-gradient(-45deg,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%);
  background: -o-linear-gradient(-45deg,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%);
  background: -ms-linear-gradient(-45deg,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%);
  background: linear-gradient(135deg,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=1 );
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  cursor:pointer;
}

